*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* html{
    scroll-behavior: smooth;
} */
body{
    background-color: black;
}
body{
    overflow-x:hidden ;
}
section{
    padding: 100px 0;
}
.home, .portfolio, .resume, .about, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.home{
    display: flex;
    background: url(../images/home.jpg) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .home-content .text-1{
    font-size:7vw;   
    margin-top: 150px; 
    margin-left: 20px;
    
}
.home .home-content .text-2{
    font-size:6vh;   
    margin-left: 20px;   
}
.home .home-content .text-3{
    font-size:6vh; 
    margin-left: 20px;   
}
.about-img img{
   
    padding: 50px;
    padding-right: 50px; 
    padding-top: 10px;
    height: 50%;
}
.about h2{
    color: white;
    font-weight: 800;
    padding: 10px;
}
.lead{
    color: white;
    font-weight: 200;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
}
.mb-5 {
    margin-bottom: 3rem!important;
    color: white;
    padding: 10px;
    text-align: justify;
}
.btn.btn-primary {
    color: #fff;
    cursor: pointer;
    background-color: #bac964;
    border-color: #bac964;
}
.btn{
    border-radius: 100px;    
    font-size: 12px;
    letter-spacing: .2rem;
}
.btn:hover{
    background-color: #7d9204;
}
.btn.btn-secondary {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn{
    border-radius: 100px;    
    font-size: 12px;
    letter-spacing: .2rem;
}
.btn-secondary:hover{
    background-color:#49555f;
}