*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* html{
    scroll-behavior: smooth;
} */
body{
    background-color: black;
}
body{
    overflow-x:hidden ;
}
section{
    padding: 100px 0;
}
.home, .portfolio, .resume, .about, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.home{
    display: flex;
    background: url(../images/home.jpg) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .home-content .text-1{
    font-size:7vw;   
    margin-top: 150px; 
    margin-left: 20px;
    
}
.home .home-content .text-2{
    font-size:6vh;   
    margin-left: 20px;   
}
.home .home-content .text-3{
    font-size:6vh; 
    margin-left: 20px;   
}
.about-img img{
   
    padding: 50px;
    padding-right: 50px; 
    padding-top: 10px;
    height: 50%;
}
.about h2{
    color: white;
    font-weight: 800;
    padding: 10px;
}
.lead{
    color: white;
    font-weight: 200;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
}
.mb-5 {
    margin-bottom: 3rem!important;
    color: white;
    padding: 10px;
    text-align: justify;
}
.btn.btn-primary {
    color: #fff;
    cursor: pointer;
    background-color: #bac964;
    border-color: #bac964;
}
.btn{
    border-radius: 100px;    
    font-size: 12px;
    letter-spacing: .2rem;
}
.btn:hover{
    background-color: #7d9204;
}
.btn.btn-secondary {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn{
    border-radius: 100px;    
    font-size: 12px;
    letter-spacing: .2rem;
}
.btn-secondary:hover{
    background-color:#49555f;
}
.resume h2{
    color: white;
    font-weight: 800;
    margin-bottom: 100px;    
    padding: 10px;
    text-align: center;
}
.education{
    color: white;
    font-weight: 800;
    margin-bottom: 50px;    
    padding-left: 72px;
    padding-top: 20px;
}
.card{
    margin: auto;
    margin-top: 10px;
    background-color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    text-align: justify;
    padding: 20px;    
}
.card-body{
    color: white;
    
   
}
.course{
   color: #7d9204;
}
.exp{
    color: white;
    font-weight: 800;    
    margin-bottom: 50px;    
    padding-left: 72px;
    padding-top: 20px;
}
.skill h2,h5{
    color: white;
    text-align: center;
    margin-bottom: 70px;
}
.skill  h4{
    color: white;
    padding-left: 10px;
    margin-bottom: 30px;
}
.skill p{
    color: white;
    text-align: justify;
    padding-left: 10px;
}
.skill-bar{
    color: white;
    padding-left: 10px;
    margin-bottom: 30px;
}
.container{
    width: 70%;
    margin: 0 auto;
   
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #333;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #7d9204;;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #7d9204;;
  }
  .bar.back::before{
    background-color: #7d9204;;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }
  .works  h2{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
  